.title {
  font-family: 'Raleway', sans-serif;
  color: blueviolet;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

}

.parrafo {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

}